@headerLogoWidth: 20%;
@headerHeight: 60px;
@logoSrc: '../images/graphs/logos/x-barcode-vitamin-b1-logo.png';
@sidebarWidth: 20%;

#xbarcodeapp {
  height: 100%;
  .glhf {
    height: 100%;
    & > .container {
      height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap;
      .main-wrapper {
        -webkit-flex-grow: 1;
        flex-grow: 1;
      }
    }
  }
}

#printing-section {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;


  z-index: 2;
  background-color: rgba(0,0,0,.4);
  &.active {
    display: block;
  }
  .printer {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: white;
    -webkit-box-shadow: 2px 2px 16px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 2px 16px rgba(0,0,0,.4);
    box-shadow: 2px 2px 16px rgba(0,0,0,.4);
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    header {
      position: fixed;
      width: 90%;
      background-color: white;
      font-size: .85em;
      height: 33px;
      line-height: 33px;
      .title {
        padding-left: 1.2em;
      }
      .progress-bar {
        height: 2px;
        width: 0%;
        background-color: #1b7fcc;

        -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
        -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
        box-shadow: 1px 1px 1px rgba(0,0,0,.2);
      }
    }
    #product-barcodes {
      margin-top: 50px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      canvas {
        -webkit-flex-grow: 0;
        flex-grow: 0;
        -webkit-align-self: flex-start;
        align-self: flex-start;
      }
    }

    .btn {
      position: fixed;
      right: 8%;
      bottom: 10%;
      -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
      -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
      box-shadow: 1px 1px 1px rgba(0,0,0,.2);
      height: 60px;
      line-height: 60px;
      width: 100px;
      &:hover, &:focus, &:active {
        border-color: transparent !important;
      }
    }
  }
}

.symbology {
  position: relative;
  .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: stretch;
    align-self: stretch;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    select {
      -webkit-align-self: stretch;
      align-self: stretch;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      padding: 0px 20px 0px 5px;
      font-weight: bold;
      cursor: pointer;
      background: none;
    }
  }
  &:after {
    font-family: FontAwesome;
    content: '\f107';
    pointer-events: none;
    position: absolute;
    right: 8px;
    opacity: .6;
    font-size: 13px;
    line-height: inherit;
  }
}

#header {
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  z-index: 1;

  .logo-container {
    width: @headerLogoWidth;
    min-width: 200px;
    height: @headerHeight;
    line-height: @headerHeight;
    border-bottom: solid 1px #ddd;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: #009688;

    #logo {
      display: block;
      margin-right: 5px;
      width: 120px;
      height: 30px;
      background: url(@logoSrc) no-repeat;
    }
  }

  #title {
    font-size: 18px;
    font-weight: 600;
    height: @headerHeight;
    line-height: @headerHeight;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-left: 30px;
    background-color: #009688;
    color: white;
    text-transform: capitalize;
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
  }
}

#sidebar {
  background-color: #fff;
  width: 0px;
  -webkit-align-self: stretch;
  align-self: stretch;
  border-right: solid 1px #ddd;
  .category {
    padding: 15px 0;
    overflow: hidden;
    a {
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;

      opacity: 0;
      padding: 10px 0;
      border-left: solid 4px transparent;
      line-height: 30px;

      transition: padding .2s ease-in-out,
        opacity .2s ease-in-out;
      .decorate {
        font-size: 18px;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: inherit;
        margin-right: 15px;
      }
      .label {
        text-transform: capitalize;
        width: 50%;
        height: 30px;
        line-height: inherit;
      }
      &:hover {
        border-color: #4d4d4d;
      }
      &.active {
        color: #fff;
        background-color: #009688;
        font-weight: bold;
      }
    }
  }
  &.active {
    width: @sidebarWidth;
    min-width: 200px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    .category {
      a {
        opacity: 1;
        padding: 10px 15px;
      }
    }
  }
}

#main-section {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-self: stretch;
  align-self: stretch;
  padding: 15px;
  overflow: hidden;
  overflow-y: auto;
  .manager-table {
    .header {
      display: -webkit-flex;
      display: flex;
      height: 35px;
      line-height: 35px;
      & > * {
        height: 100%;
        line-height: inherit;
        padding: 0 5px;
      }
      .search {
        padding: 0px;
        -webkit-flex-grow: 2;
        flex-grow: 2;
        & > * {
          height: 100%;
          line-height: inherit;
          border: solid 1px #ddd;
          border-right: none;
        }
        .label {
          -webkit-flex-grow: 0;
          flex-grow: 0;
          width: 70px;
          text-align: center;
        }
        input[type="text"] {
          -webkit-flex-grow: 1;
          flex-grow: 1;
          padding: 0px 10px;
          font-size: inherit;
          box-shadow: inset 0px 0px 1px rgba(0,0,0,.1);
          -webkit-transition: border-color .2s ease-in-out;
          -moz-transition: border-color .2s ease-in-out;
          transition: border-color .2s ease-in-out;
          border: solid 1px #ddd;
          &:focus {
            outline: none;
            border-color: #bbb;
          }
        }
        .symbology {
          border-left: none;
          label {
            padding: 0 5px;
            opacity: .6;
          }
        }
        button.submit {
          height: 100%;
          line-height: inherit;
        }
      }

      .print {
        -webkit-flex-grow: 0;
        flex-grow: 0;
        text-align: center;
        padding: 0;
        width: 150px;
        button {
          display: block;
          width: 100%;
          height: 100%;
          line-height: inherit;
          font-weight: bold;
        }
      }
    }
    .body {
      position: relative;
      .progress-bar {
        position: absolute;
        top: -1px;
        z-index: 1;
        opacity: 0;
        height: 2px;
        width: 0;
        background-color: #009688;

        -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
        -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
        box-shadow: 1px 1px 1px rgba(0,0,0,.2);

        -webkit-transition: width .2s ease-in-out .2s;
        -moz-transition: width .2s ease-in-out .2s;
        transition: width .2s ease-in-out .2s;
      }
      & > .item, #product-locked-area > .item {
        -webkit-display: flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        border: solid 1px #ddd;
        border-top: none;
        .locker {
          -webkit-align-self: stretch;
          align-self: stretch;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-flex-shrink: 0;
          flex-shrink: 0;
          width: 70px;
          border-right: solid 1px #ddd;
          cursor: pointer;
          &:hover {
            background-color: #009688;
            color: white;
          }
          &:active {
            background-color: #0aa092;
          }
          &:after {
            content: "+";
            font-weight: bold;
          }
          &.unlock {
            background-color: #eee;
            &:after {
              content: "-" !important;
            }
            &:hover {
              background-color: #ddd;
              color: inherit;
            }
            &:active {
              background-color: #d9d9d9;
            }
          }
        }
        .decorate {
          img {
            width: 60px;
            max-height: 90px;
            border: solid 1px #ddd;
            border-radius: 1px;
          }
        }
        .description {
          -webkit-flex-grow: 1;
          flex-grow: 1;
          .name {
            font-size: 1.2em;
            font-weight: bold;
            cursor: pointer;
          }
        }
        .barcode-preview {
          position: relative;
          cursor: pointer;
          canvas {
            display: block;
            padding: 5px;
            min-width: 180px;
            height: 80px;
            background-color: white;
            border: solid 2px #4d4d4d;
          }
          .label {
            position: relative;
            text-align: center;
            width: 100%;

            & > * {
              position: absolute;
              display: block;
              margin: 0px;
              padding: 0px;
              width: 100%;
              font-size: 1/1.2em;
              font-family: monospace;
            }
          }
        }
        .actions {
          position: relative;
          width: 150px;
          padding: 0;
          -webkit-align-self: stretch;
          align-self: stretch;
          -webkit-flex-grow: 0;
          flex-grow: 0;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-flex-shrink: 0;
          flex-shrink: 0;
          border-left: solid 1px #eee;

          .symbology {
            color: orange;
            .wrapper {
              select {
                padding: 0 20px;
              }
            }
            &:after {
              display: none !important;
            }
          }
          .print-container {
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            border-top: solid 1px #eeeeee;
            & > * {
              display: -webkit-flex;
              display: flex;
              -webkit-flex-grow: 0;
              flex-grow: 0;
              width: 50%;
              -webkit-align-self: stretch;
              align-self: stretch;
              text-align: center;
              &:first-child {
                border-right: solid 1px #eee;
              }
            }
            .amount, .print {
              & > * {
                -webkit-align-self: stretch;
                align-self: stretch;
              }
              input, button {
                width: 100%;
                text-align: center;
                font-weight: bold;
              }
              button {

              }
            }
          }
        }
      }
    }
  }
  .product-table {
    .body {
      & > .item, #product-locked-area > .item {
        & > * {
          padding: 1.2em;
        }
        .actions {
          & > * {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            display: -webkit-flex;
            display: flex;
          }
        }
      }
    }
  }
  .order-table {
    .header {
      .search {
        .label {
          width: 120px;
          -webkit-flex-shrink: 0;
          flex-shrink: 0;
        }
        button.submit {
          width: 200px;
          -webkit-flex-shrink: 0;
          flex-shrink: 0;
          border-right: solid 1px #ddd;
        }
      }

    }
    .body {
      & > .item {
        display: block;
        .order-detail {
          -webkit-display: flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          border-bottom: solid 1px #ddd;
          & > * {
            padding: 1.2em;
          }
          .decorate {
            text-transform: uppercase;
            min-height: 120px;
            width: 120px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-self: stretch;
            align-self: stretch;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            border-right: solid 1px #ddd;
            font-weight: bold;
          }
          .actions {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
            width: 200px;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            padding: 0;
            & > *:first-child {
              border-bottom: solid 1px #ddd;
            }
            .row {
              button {
                font-weight: bold;
              }
              display: -webkit-flex;
              display: flex;
              flex-grow: 1;
              -webkit-align-content: stretch;
              align-content: stretch;
              & > * {
                -webkit-flex-grow: 1;
                flex-grow: 1;
                -webkit-flex-shrink: 0;
                flex-shrink: 0;
                &:first-child {
                  border-right: solid 1px #ddd;
                }
              }
            }
          }
        }
        .product-container {
          .product {
            -webkit-display: flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            & > * {
              padding: 1.2em;
            }
            .quantities {
              -webkit-display: flex;
              display: flex;
              -webkit-align-self: stretch;
              align-self: stretch;
              -webkit-flex-flow: column nowrap;
              flex-flow: column nowrap;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-align-items: center;
              align-items: center;
              width: 120px;
              min-height: 120px;
              font-size: 2em;
              font-weight: bold;
              -webkit-flex-shrink: 0;
              flex-shrink: 0;
              color: darkorange;
              padding: 0;
              & > * {
                text-align: center;
                padding: 5px 0;
                &:first-child {
                  min-width: 70px;
                  border-bottom: solid 4px darkorange;
                }
              }
            }
            .actions {
              display: -webkit-flex;
              display: flex;
              -webkit-flex-flow: row nowrap;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              width: 200px;
              -webkit-flex-shrink: 0;
              flex-shrink: 0;
              font-size: 30px;
              padding: 15px 0;
              border: none;
              & > * {
                border: solid 1px #aaa;
                background-color: #bbb;
                color: white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                cursor: pointer;
                transition: background-color .2s ease-in-out;
                &:first-child {
                  margin-right: 15px;
                }
                &:hover{
                  background-color: #a9a9a9;
                }
                &:active {
                  background-color: #999;
                }
              }
            }
          }
        }
      }
    }
  }
}

.setting-table {
  padding: 0px 30px;
  .setting-group {
    margin-top: 2.5em;
    & > .label {
      font-weight: bold;
      padding-bottom: 0.5em;
      border-bottom: solid 1px #eee;
    }
    .item {
      margin-top: 0.85em;

      .pair {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        align-items: center;
        -webkit-align-items: center;
        & > .label {

        }
      }
      .guide {
        opacity: .6;
      }
    }
    .symbology {
      height: 30px;
      line-height: 30px;
      select {
        border-color: #eeeeee;
      }
    }
  }
}