<?xml version="1.0"?>
<config>
  <modules>
    <SM_XBarcode>
      <version>1.0.0</version>
    </SM_XBarcode>
  </modules>
  <global>
    <blocks></blocks>
    <helpers>
      <xBarcode>
        <class>SM_XBarcode_Helper</class>
      </xBarcode>
    </helpers>
    <models>
      <xBarcode>
        <class>SM_XBarcode_Model</class>
        <resourceModel>sm_xbarcode_resource</resourceModel>
      </xBarcode>
      <sm_xbarcode_resource>
          <class>SM_XBarcode_Model_Resource</class>
          <entities>
              <setting>
                  <table>sm_xbarcode_setting</table>
              </setting>
          </entities>
      </sm_xbarcode_resource>
    </models>
    <resources>
        <sm_xbarcode_setup>
            <setup>
                <module>SM_XBarcode</module>
            </setup>
        </sm_xbarcode_setup>
    </resources>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <!--With the before="Mage_Adminhtml" option, Magento WILL look for a controller file
            in the folder of the module. Later, it WILL look in the Mage_Adminhtml module -->
            <xBarcode before="Mage_Adminhtml">SM_XBarcode_Adminhtml</xBarcode>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <xBarcode>
          <file>sm/xbarcode.xml</file>
        </xBarcode>
      </updates>
    </layout>
  </adminhtml>
</config>
